body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

article {
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
  color: #222;
}

.white-header {
  background-color: white;
  color: #333;
  padding: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinha verticalmente */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-btn {
  background: none;
  border: none;
  color: #333;
  font-size: 24px;
  cursor: pointer;
  margin-left: auto; /* Alinha à direita */
}

nav ul {
  list-style-type: none;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px; /* Ajuste a distância vertical aqui */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 2; /* Coloque o menu sobre o restante do conteúdo */
}

nav.show ul {
  display: flex;
}

nav ul li {
  margin: 5px 0;
}

.background-image { /* Substitua pelo caminho da sua imagem de fundo */
  background-size: cover;
  background-position: center;
  color: #444;
  padding: 40px; /* Adicione o padding desejado */
  text-align: center; /* Centraliza o conteúdo horizontalmente */
}

.background-image article {
  margin-bottom: 40px;
}

.background-image h2 {
  font-size: 30px;
  color: #222;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

.white-footer {
  background-color: white;
  color: #555;
  padding: 50px;
  display: flex;
  flex-direction: column; /* Altera a direção para vertical */
  align-items: center; /* Centraliza horizontalmente */
  font-size: 20px;
}

/* Estilização para o conteúdo da classe .footer-left */
.footer-left {
  text-align: center; /* Centraliza o texto */
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer-left a {
  margin-right: 15px; /* Ajuste a margem para controlar a distância */
  color: #999; /* Cor cinza para os ícones */
  font-size: 24px;
  transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
}

.footer-left a:hover {
  color: #007bff; /* Cor azul ao passar o mouse */
}