:root {
    --cor-primaria: #3b5998;
    --cor-secundaria: #e9ebee;
    --cor-destaque: #ff9900;
    --cor-texto: #333333;
    --cor-fundo: #ffffff;
  }

/* Site */

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-primaria);
    padding: 10px;
  }

  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: var(--cor-fundo);
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: #ff9900;
  }
  
  nav {
    margin-left: auto;
  }
  
  section {
    padding: 15px 15px 15px 150px;
    background-color: var(--cor-secundaria);
    border: 1px solid #e9ebee;
  }
  
  h1 {
    font-size: 24px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .button {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
  }
  
  a {
    color: var(--cor-destaque);
  }



/* stack */

#tecnologias {
    padding: 20px;
  }
  
  .tecnologias-group {
    margin-bottom: 10px;
  }
  
  h2, h3 {
    text-align: center;
  }
  
  .logos {
    display: flex;
    justify-content: center;
  }
  
  .logos img {
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: transform 0.3s;
  }

  .logos img:hover {
    transform: scale(1.3);
  }

  /* sobre */

  #sobre {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  @media screen and (max-width: 768px) {
    #sobre {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
  }
  
  .sobre-content {
    position: relative;
    z-index: 1;
    text-align: center;
  }

  .imagem {
    position: absolute;
    top: 0;
    right: -200px;
    bottom: 0;
    left: -200px;
    background-image: url('../img/background-programmer.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: 0;
  }

  .sobre-content ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
  }
  
  .sobre-content li {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }

    /* Contato */

    .contact {
      flex: 1;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.4);
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-20px);
      transition: transform 0.3s;
      max-width: 400px;
      max-height: fit-content;
      margin: 0 auto;
      margin-top: 20px;
    }
  
    @media screen and (max-width: 768px) {
      .contact {
        max-width: 100%; /* Para dispositivos menores, ocupar toda a largura disponível */
      }
    }

    .contato-links {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    
    .contato-link {
      margin: 0 10px;
      position: relative;
      display: inline-block;
    }
    
    .contato-link img {
      width: 50px;
      height: 50px;
      transition: transform 0.3s;
    }
    
    .contato-link:hover img {
      transform: scale(1.2);
    }
    
    .contato-link::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.3s;
    }
  
    .contato-link:hover::after {
      opacity: 1;
    }