body {
    margin: 15px;
    color: rgb(243, 244, 246);
    background-color: rgb(37, 51, 83);
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 18px;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(243, 244, 246);
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

p a {
    color: rgb(14, 165, 233);
    text-decoration: none;
}

.bold-text {
    color: rgb(14, 165, 233);
}

.profile-img {
    border-radius: 50%;
}

ul {
    display: flex;
    list-style: none;
    column-gap: 0.75rem;
}

.contact-bar {
    display: flex;
    background-color: #141313;
    padding: 16px;
    width: 30%;
    flex-direction: column;
}

.stacks {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.stacks-elements {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 15px;
}

/* divs */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
}

section p {
    width: 70%;
}